@model SDQuizMaker.Models.tbuser

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pic = (string)Session["ProfilePic"];
}

<h2 style="margin-top:40px">Profile</h2>

<style>
    .box
    {     
        height:170px;
        width:100%;
    }
    .box2
    {     
        height:650px;
        width:100%;
    }
    .img-circle
    {
        width:150px;
        height:150px;
        border-radius:50%; 
        margin-left:-18px;
        border:solid red;
    }
    .col-md-1
    {
        width:150px;
        height:150px;        
        border-radius:50%; 
        box-shadow: 0px 3px 13px -4px;           
    }
    .col-md-6
    {
        border:solid red;
        height:150px;
        width:500px;
        margin-left:10px;
        box-shadow: 0px 3px 13px -4px;
        background-color:rgba(246, 10, 10, 0.45);
    }
    .col-md-3
    {
        border:solid black;
        height:150px;
        margin-left:10px;
        box-shadow: 0px 3px 13px -4px;
        background-color:rgba(246, 10, 10, 0.45);
    }
    .col-md-8
    {
        width:150px;
        height:100px;
        border:solid red;
        background-color:rgba(246, 10, 10, 0.45);
        box-shadow: 0px 3px 13px -4px;
    }
    .col-md-2
    {
        width:115px;
        height:30px;
        border-top:solid red;
        margin-top:10px;
    }
    .col-md-4
    {
        border:solid red;
        width:795px;
        height:350px;
        margin-left:10px;
        box-shadow: 0px 3px 13px -4px;
        background-color:rgba(246, 10, 10, 0.45);
    }
</style>

<div class="box">
    <div class="col-md-1">
        @if ((string)Session["ProfilePic"] != null)
        {
            <img class="img-circle" src="@pic" />
        }
        else
        {
            <img class="img-circle" src="http://53percent.com/images/noimg.gif"/>
        }
    </div>
    <div class="col-md-6">
        <table>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserID)
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    Class:
                </td>
                <td>
                    @Html.DisplayFor(model => model.ClassID)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="box2">
    <div class="col-md-8">
        <div class="col-md-2">
            <input type="submit" style="width:inherit;margin-left:-15px;" value="Profile" />
        </div>
        <div class="col-md-2">
            <input type="submit" style="width:inherit;margin-left:-15px;" value="Quizes" />
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>




