@{
    ViewBag.Title = "About";
}
<div style="padding-top:50px">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr style="border-color:crimson" />
<p>Use this area to provide additional information.</p>
</div>
