@model SDQuizMaker.Models.Login
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .recoverbox {
        height: 125px;
        width: 400px;
        padding: 10px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 3px 13px -4px;
    }

    .forgotpassword {
        width: 400px;
        margin-left: -11px;
        margin-right: -10px;
        margin-top: -12px;
        text-align: center;
        font-size: x-large;
        color: white;
        background-color: dimgrey;
        box-shadow: 0px 3px 13px -4px;
    }

    .email {
        margin-top: 15px;
        margin-left: 30px;
    }

    .txtbox {
        margin-top: 10px;
    }

    .buttonr {
        background-color: grey;
        border: none;
        color: #ffffff;
        font-size: 15px;
        padding: 4px 7px 4px 7px;
        border: thin #b33b3b 1px;
        text-decoration: none;
    }

    .button {
        align-content: center;
        text-align: center;
        margin-top: 7px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.Raw(TempData["recovsuccess"])
    @Html.Raw(TempData["msg"])
    <div class="recoverbox">
        <table>
            <tr>
                <td colspan="2">
                    <div class="forgotpassword">Forgot Password</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="email">
                        @Html.Label("Email")
                    </div>
                </td>
                <td>
                    <div class="txtbox">
                        @Html.TextBoxFor(m => m.Email, new { @required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button">
                        <input type="submit" class="buttonr" value="Recover Password" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
}


